@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-slow-blink {
    animation: slow-blink 1.4s ease-in-out infinite;
  }
}

@keyframes slow-blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
}
